@font-face{
	font-family: Titillium Web Bold;
	src: url('fonts/TitilliumWeb-Bold.ttf');
}
@font-face{
	font-family: Titillium Web Semibold;
	src: url('fonts/TitilliumWeb-SemiBold.ttf');
}
@font-face{
	font-family: Titillium Web Regular;
	src: url('fonts/TitilliumWeb-Regular.ttf');
}
@font-face{
	font-family: Titillium Web Light;
	src: url('fonts/TitilliumWeb-Light.ttf');
}
@font-face{
	font-family: Titillium Web Italic;
	src: url('fonts/TitilliumWeb-Italic.ttf');
}
.temp{
	clear: both;
}
.block1{
	background-color: #87509c;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.menu{
	float: right;
	margin: 60px 186px 0px 0px;
}
.menu > li{
	padding: 10px 17px 10px 17px;
	display: inline;
	font-family: "Titillium Web Regular";
	font-size: 16px;
	color: white;
	border-radius: 6px;
}
.menu > li:hover{
	background-color: #643a79;
	cursor: pointer;
}

.logo{
	margin: 60px 0px 0px 210px;
}

.welcome-label{
	margin: 150px 0px 0px 0px;
	text-align: center;
} 
 .welcome-label > p{
	font-family: 'Titillium Web Bold', sans-serif;
	color: #f7f3ea;
	font-size:42px;
}
.custbutton{
font-size: 18px;
height: 70px;
cursor: pointer;
padding: 0px 80px 0px 80px;
border:  #c86a40;
border-style: solid;
border-radius: 4px;
border-width: 4px;
border-right: none;
border-left: none;
border-top: none;
font-family:'Titillium Web Semibold', sans-serif;
color: white;
}

.welcome-label .custbutton{
	background-color: #eb7d4b;
  margin:  0px 0px 145px 0px;
}
.block2{
	background-color: #17c2a4;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
}
.har{
	margin: 120px 0px 0px 0px;
	font-size: 40px;
	font-family: "Titillium Web Bold";
}
.block2 > .har{

	color: white;
}
.line{
	display: inline-block;
	width: 85px;
	height: 4px;
	margin: 22px 0px 0px 0px;
}
.block2>.line{
	background: #14a58c;
}
.blockcaption{
	font-size: 18px;
	margin-top: 23px;
	font-family: "Titillium Web Regular";
}
.block2 >.blockcaption{
color: white;
}
.table1{
	display: inline-block;
	margin-top: 80px;
	margin-bottom: 130px;
}
.table1 td {
	padding: 0px 30px 0px 30px;
}
.table1 img{
	margin:  0px 20px 60px 20px;
	padding: 0px 6px 0px 6px;
}
.table1 p{
	margin-bottom: 30px;
}
.table1 .tablecap{
	font-family: "Titillium Web Bold";
	font-size: 24px;
	color: white;
}

.table1 .tabledesc{
font-size: 16px;
font-family:"Titillium Web Light" ;
color: white;
}
.block3{
	background-color:#e7f1f8;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 0px;
}
.block3 > .har{
	color: #3c4761;
}
.block3>.line{
	background: #c8d9e5;
}
.block3>.blockcaption{	
color: #5d677b;
margin-bottom: 80px;
}
.table2{
	display: inline-block;
}
.block3 .table2{
	margin-bottom: 130px;
}
.table2 .photos>td{
	padding: 0px 30px 0px 30px;
}
.table2 td{
	margin: 0px 20px 0px 20px;
}
.table2 .photos img{
	margin-bottom: 40px;
}
.table2 .tablecap{
	font-family:"Titillium Web Bold";
	color: #27283d;
	margin-bottom: 15px;
	font-size: 24px;
}
.table2 .qualify{
	color:  #30bae7;
	font-size: 16px;
	font-family: "Titillium Web Regular";
}
.table2 .tabledesc p{
	color: #3c4761;
	font-family: "Titillium Web Light";
	font-size: 16px;
	margin-bottom: 35px;
}
.table2 li{
	display: inline-block;
	padding: 0px 6px 0px 6px;
}

.table2 li:hover{
	cursor: pointer;
}
.table2 ul{
	padding: 0px 48px 0px 48px;
}
.block4{
	padding: 1px 0px 0px 0px;
	text-align: center;
	background-color: white;
}
.block4 .line{
	background: #dfe8ed;
}
.block4 img{
	margin:  0px 20px 0px 20px;
	padding: 0px 6px 0px 6px;
}
.block4>.blockcaption{
	color:  #3c4761;
	font-size: 18px;
	font-family: "Titillium Web Regular";
	margin-bottom: 90px;
}
.block4 .table2{
	margin-bottom: 125px;
}
.block4 .har{
	color:#3c4761;
}
.block5{
text-align: center;
padding: 1px 0px 0px 0px;
background-color: #ffdd99;
}
.block5 .line{
	background: #e5c37f;
}
.block5 .har{
	
	color: #393939;
}
.block5 .blockcaption{
	color: #393939;
}
.block5 .points li{
		margin: 0px 5px 0px 5px;
	color: #393939;
	display: inline;
	height: 38px;
	padding-left: 21px;
	padding-right: 21px;
	border-radius: 3px;
	background-color: #ebc985;
	font-family: "Titillium Web Regular";
	font-size: 18px;
}
.block5 .points{
	margin-bottom: 60px;
}
.block5 .points li:hover{

	cursor: pointer;
	background-color: white;
}
.block5 .port li{
	display: inline;
}
.block5 .port img{
	margin: 0px 20px 0px 20px;
}
.block5 .port{
	margin-left: 50px;
	margin-right: 50px;
}
.block5 .port p{
	font-family: "Titillium Web Regular";
	color: #393939;
	font-size: 18px;
}
.block5 .custbutton{
	margin-top: 40px;
	margin-bottom: 110px;
	background-color:#17c2a4;
	border-color: #14a58c;
}
.block6{
	text-align: center;
	padding: 1px 0px 0px 0px;
	background-color: #d74680;
}
.block6 .har, .blockcaption{
	color: white;
}
.block6 .line{
	background: #b73c6d;
}
.callback{
	margin: 0px 170px 0px 170px;
}
.callback>li{
	display: inline-table;
	padding: 0px 100px 0px 0px;
}
.block6 .callback .callback-point{
	width: 500px;
	margin-bottom: 150px;
}
.block6 .callback .callback-point p{
	font-family: "Titillium Web Italic";
	font-size: 21px;
	color: white;
	text-align: justify;
}
.block6 .callback .callback-point .callback-name, .callback-char{
text-align: justify;
}
.block6 .callback .callback-point img{
	margin-right: 50px;
	margin-bottom: 35%;
}
.callback .callback-name{
	font-family: "Titillium Web Bold";
	color: white;
	font-size: 24px;
	margin-bottom: 0px;
}
.callback .callback-char{
	padding-top: 0px;
color: #ffdd99;
font-family: "Titillium Web Regular";
font-size: 18px;
}
.block7{
	padding: 1px 0px 0px 0px;
	text-align: center;
	background-color: #3c5499;;
}
.block7>.har{
	color: white;
}
.block7 .line{
	background: #273a71;
} 
.block7 .blockcaption{
	color: white;
}
.block7>form{
	margin-top: 80px;
	margin-right: 10%;
	margin-left: 10%;
}
.text {
	background-color: #273a71;
	border: none;
	border-radius: 3px;
	font-family: "Titillium Web Regular";
	font-size: 18px;
	padding:  20px 25px 20px 25px;
	margin: 0px 15px 30px 15px;
	width: 40%;
}
.comment{
	width: 88%;
	resize: vertical;
}
.block7 .custbutton{
	background: #30bae7;
	border-color: #299ec5;
	margin-bottom: 110px;
	margin-top: 30px;
}
.contacts{
	padding: 1px 0px 1px 0px;
	text-align: center;
	background-color: #344b8e;

}
.contact-list{
	margin-top: 40px;
	margin-bottom: 40px;
}
.contacts li
{
	margin-right: 25px;
	margin-left: 25px;
	display: inline;
	font-family: "Titillium Web Semibold";
	font-size: 24px;
}
.contacts a{
	color: white;
	text-decoration: none;
}
.contacts a:hover{
	cursor: pointer;
	color: #30bae7;
}